.dark-mode{
    background-color: darken($grisOscuro, 10);
    color: $blanco;
    p,a,h1,h2,h3,h4{
        color: $blanco;
    }
    a,h1,h2,h3,h4{
        color: $gris;
    }

    .anuncio,.anuncio-info{
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;

        .icono-color{
            filter: invert(100%);
        }
    }

    .formulario{
        label,
        legend,
        p{
            color: $gris;
        }
        input:not([type = "submit"]),textarea,select{
            background-color: $grisOscuro;
            border: 1px solid $gris;
            color: $blanco;
        }
    }
    table.propiedades {
        tbody {
            td {
                color: $blanco;
            }
        }
    }


}