.anuncio-casa{

    text-align: center;
    align-items: center;
    background-color: lighten($gris,5);
    border: 1px solid lighten($gris,10);
    p{
        text-align: left;
        margin: 2rem;
    }

    
}
.precio{
    p{
        color: $verde;
        font-size: 3rem;
        font-weight: $bold;
        
    }
}

.iconos-caracteristicas{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    
    margin: 0;
    max-width: 20rem;
    @include tablet {
        padding-left: 5%;
    }
    @include desktop {
        padding-left: 3%;

    }
    li{
        flex: 1;
        display: flex;

        img{
            width: 1rem;
            flex: 0 0 2rem;
            margin-right: 12rem;
        }
        @include tablet {
            img{
                width: 50%;
                height: 50%;
                
            } 
        }
        @include desktop {
            img{
                flex: 0 0 3rem;
              
            }
        }
    }
}