.derecha{
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        align-items: flex-end;
    }
    .dark-mode-boton{
        align-items: center;
        width: 3rem;
        margin-left: 0.5rem;
        margin-bottom: 3rem;
        filter: invert(100%);
        @include tablet {
            margin-right: 4rem;
            margin-top: 10rem;
        }
        &:hover{
            cursor: pointer;
        }

    }
}

.barra{
    display: flex;

    flex-direction: column;

    padding-top: 4rem;
    align-items: center;
    

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 9rem;
    }
}

.navegacion{
    
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility .3s ease-in-out, opacity 0.5s linear, height 0.5s linear;
    @include tablet {
        display: flex;
        align-items: flex-start;
        visibility: visible;
        opacity: 1;
        
    }
    a{
        color: $blanco;
        text-decoration: none;
        font-size: 2rem;
        display: block;
        align-items: center;
        text-align: center;
        &:hover {
            color: $verde;
            }
        @include tablet {
            margin-right: 2rem;

        }
    }
    
 
}

.mobile-menu{
    align-items: center;
    margin-bottom: 2rem;
    @include tablet {
        display: none;
    }
    img{
        margin-top: 2rem;
        width: 5rem;
        
    }
}

.mostrar{
   visibility: visible;
   opacity: 1;
   height: auto;

}
.icono-principal{
    width: 25rem;
}
.administrador{
    color: #FFFFFF;
    margin-top: 5rem;
    margin-right: 1.5rem;
    font-size: 2rem;
    &:hover{
        color:$verde;
    }
}